<!DOCTYPE html>
<html ng-app="bunker">
<head>
	<title unread-messages>Bunker</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

	<link rel="stylesheet" href="/assets/vendor/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet" href="/assets/vendor/bootswatch/sandstone/bootstrap.css"/>
	<link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.css"/>
	<link rel="stylesheet" href="/assets/vendor/highlightjs/styles/github.css"/>
	<link rel="stylesheet" href="/assets/styles/default.css" />

	<link rel="stylesheet" ng-href="{{ loadMinimal ? '/assets/styles/minimal.css' : '' }}" custom-stylesheet/>
	<link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
</head>
<body>

<div splash ng-show="loading">
	<p class="loading-font">Initializing Bunker</p>
	<p><img src="/assets/images/emoticons/<%- loadingEmote %>"/></p>
</div>

<div ng-include="'/assets/app/header/header.html'"></div>
<div ui-view></div>

<script>
	window.userId = '<%= userId %>';
	window.isProduction = <%= isProduction %>;
	window.emoticons = <%- JSON.stringify(emoticons) %>;
	window.debugging = <%= debugging %>;
</script>

<script src="https://www.youtube.com/iframe_api"></script>

<!-- build:jsLib /assets/bundled/vendor.js -->
<script src="/assets/vendor/lodash/lodash.min.js"></script>
<script src="/assets/vendor/moment/min/moment.min.js"></script>
<script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/assets/vendor/jquery.dragbetter/jquery.dragbetter.js"></script>
<script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/vendor/angular/angular.min.js"></script>
<script src="/assets/vendor/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/assets/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/assets/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/assets/vendor/angular-gravatar/build/angular-gravatar.min.js"></script>
<script src="/assets/vendor/angular-moment/angular-moment.min.js"></script>
<script src="/assets/vendor/socket.io-client/socket.io.js"></script>
<script src="/assets/vendor/plangular/dist/plangular.min.js"></script>
<script src="/assets/vendor/sails.io.js/sails.io.js"></script>
<script src="/assets/vendor/angular-youtube-mb/src/angular-youtube-embed.js"></script>
<script src="/assets/vendor/angular-filter/dist/angular-filter.min.js"></script>
<script src="/assets/vendor/highlightjs/highlight.pack.js"></script>
<script src="/assets/vendor/angular-highlightjs/angular-highlightjs.min.js"></script>
<script src="/assets/vendor/angular-notification/angular-notification.min.js"></script>
<script src="/assets/vendor/angular-audio/app/angular.audio.js"></script>
<script src="/assets/vendor/ng-stats/dist/ng-stats.js"></script>
<!-- endbuild -->

<!-- build:jsApp /assets/bundled/bundle.js -->
<script src="/assets/app/bunker.js"></script>
<script src="/assets/app/bunkerData.js"></script>
<script src="/assets/app/bunkerListener.js"></script>
<script src="/assets/app/messages/bunkerMessage.js"></script>
<script src="/assets/app/messages/bunkerMedia.js"></script>
<script src="/assets/app/messages/messageLogScroll.js"></script>
<script src="/assets/app/messages/messageMention.js"></script>
<script src="/assets/app/messages/notifications.js"></script>
<script src="/assets/app/directives/customStylesheet.js"></script>
<script src="/assets/app/directives/status.js"></script>
<script src="/assets/app/directives/splash.js"></script>
<script src="/assets/app/input/bunkerInput.js"></script>
<script src="/assets/app/input/inputBox.js"></script>
<script src="/assets/app/directives/unreadMessages.js"></script>
<script src="/assets/app/directives/datepickerPopup.js"></script>
<script src="/assets/app/fileUpload/loadingButton.js"></script>
<script src="/assets/app/fileUpload/droppableItem.js"></script>
<script src="/assets/app/fileUpload/bunkerDropzone.js"></script>
<script src="/assets/app/fileUpload/fileError.js"></script>
<script src="/assets/app/fileUpload/imageUploadController.js"></script>
<script src="/assets/app/fileUpload/overlayContents.js"></script>
<script src="/assets/app/fileUpload/imageUpload.js"></script>
<script src="/assets/app/emoticons.js"></script>
<script src="/assets/app/header/HeaderController.js"></script>
<script src="/assets/app/header/emoticonMenu.js"></script>
<script src="/assets/app/lobby/LobbyController.js"></script>
<script src="/assets/app/chat/ChatController.js"></script>
<script src="/assets/app/room/RoomHistoryController.js"></script>
<script src="/assets/app/room/room.js"></script>
<script src="/assets/app/room/fill.js"></script>
<script src="/assets/app/help/HelpController.js"></script>
<!-- endbuild -->

</body>
</html>
