<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="/node_modules/bootswatch/dist/<%= userSettings.theme || 'cerulean' %>/bootstrap.min.css"/>
</head>
<body>
<section id="index"></section>
<script>
	window.url = '<%= config.url %>';
	window.userId = '<%= userId %>';
	window.theme = '<%= userSettings.theme %>';
	window.emoticons = <%- JSON.stringify(emoticons) %>;
</script>
<script src="/dist/main.js"></script>
</body>
</html>
