<!DOCTYPE html>
<html ng-app="bunker" <%if (isProduction) {%> ng-strict-di <%}%>>
<!--<html ng-app="bunker">-->
<head>
	<title unread-messages>Bunker</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

	<link rel="stylesheet" href="/assets/vendor/bootswatch/sandstone/bootstrap.min.css"/>
	<link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/assets/vendor/highlightjs/styles/github.css"/>
	<link rel="stylesheet" href="/assets/vendor/ng-sortable/dist/ng-sortable.min.css"/>
	<link rel="stylesheet" href="/assets/styles/default.css" />

	<link rel="stylesheet" ng-href="{{ loadMinimal ? '/assets/styles/minimalist.css' : '' }}" custom-stylesheet/>
	<link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
</head>
<body>

<div splash ng-show="loading">
	<p class="loading-font">
		Loading
		<div class="splash-brand">Bunker</div>
	</p>
	<p><img src="/assets/images/emoticons/<%- loadingEmote %>"/></p>
</div>

<div ng-include="'/assets/app/header/header.html'"></div>
<div ui-view></div>

<script>
	window.userId = '<%= userId %>';
	window.isProduction = <%= isProduction %>;
	window.emoticons = <%- JSON.stringify(emoticons) %>;
	window.debugging = <%= debugging %>;
</script>

<script src="/assets/bundled/vendor-8dff0a05de.js"></script>

<script src="/assets/bundled/vendor-1cc1a5414a.min.js"></script>

<script src="/assets/bundled/bundle-bbd542fb58.js"></script>

<% if (templates) { %>
<script src="/assets/bundled/<%- templates %>"></script>
<% }%>

</body>
</html>
